[submodule "lolwutconf"]
	path = lolwutconf
	url = https://github.com/tkchia/lolwutconf.git
[submodule "gnu-efi"]
	path = gnu-efi
	url = https://git.code.sf.net/p/gnu-efi/code
[submodule "acpica"]
	path = acpica
	url = https://github.com/acpica/acpica.git
	shallow = true
